@charset "UTF-8";

@media only screen and (min-width: 768px){
    /* Config Cabeçalho */
    #cabecalho_titlo h1{
        font-size: 5em;
    }

    #cabecalho_titlo_logo{
        max-width: 150px;
    }

    /* Config Apresentação */
    #apresentacao{
        background: var(--cor2) url(../img/background.webp) top center no-repeat fixed;
        background-size: cover;
        flex-direction: row;
    }

    #apresentacao_text{
        background-color: #351b597a;
        margin-left: 35px;
    }

    #apresentacao_text h2{
        font-size: 3.5em;
    }

    #apresentacao_text p{
        font-size: 1.2em;
    }

    #apresentacao_img{
        background: none;
    }

    /* Config Skill */
    #skill{
        padding: 50px 0px 100px 0px;
    }

    #caixa_skill{
        flex-direction: row;
        align-items: flex-start;
    }

    .skill_itens{
        margin-bottom: 0px;
    }

    /* Config Projeto */
    #caixa_projeto{
        flex-direction: row;
        justify-content:space-evenly;
        flex-wrap: wrap;
    }

    .card_projeto{
        width: 575px;
        height: 250px;
        flex-direction: row;
        align-items: center;
    }

    .card_projeto_img img{
        border-radius: 10px 0px 0px 10px;
        height: 100%;
    }

    .card_projeto_text{
        border-radius: 0px 10px 10px 0px;
        padding: 0px;
        width: 100%;
        height: 100%;
    }

    /* Config Footer */
    footer{
        flex-direction: row;
        justify-content: space-evenly;
    }

    footer h3{
        font-size: 2em;
    }

    footer a{
        font-size: 1.2em;
    }
}